body,
.title,
.subtitle {
	margin: 0;
}
body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "DM Serif Text", serif;
}
.title {
	font-size: 8vw;
}
.subtitle {
	font-size: 4vw;
}
